[Unit]
Description=Offlineimap Service
Documentation=man:offlineimap(1)

[Service]
ExecStart=/usr/bin/offlineimap -u basic
Restart=always
RestartSec=120

[Install]
WantedBy=default.target